torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
transformers==4.39.1
accelerate==1.11.0
monai==1.2.0
numpy==1.26.4
einops==0.8.1
safetensors==0.7.0
huggingface-hub==0.36.0
pillow==9.5.0
pandas==2.3.3
tokenizers==0.15.2
tqdm==4.67.1
datasets==4.4.1
pyarrow==22.0.0
sentencepiece==0.2.1
shortuuid==1.0.13
regex==2025.11.3
causal_conv1d-1.4.0+cu118torch2.1cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
flash_attn-2.6.3+cu118torch2.1cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
mamba_ssm-2.2.2+cu118torch2.1cxx11abiFALSE-cp311-cp311-linux_x86_64.whl